<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/css/index.css"> 
</head>
<body>
  <div class="taskbar">
    <div class="logo">RoDX</div>
    <a href="index.html">Home</a>
    <a href="search.html">Search</a>
    <a href="login.html">Login</a> 
    <a href="about.html">About</a>
  </div>

  <div class="content">
    <h1>Romanian Drug Explorer!</h1>
    <p>This is the content of the home page.</p>
  </div>

  <div class="pill-container">
    <img src="../static/pictures/pill.png" alt="Pill Image">
  </div>
</body>
</html>