<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="../static/css/about.css"> 

</head>
<body>
  <div class="taskbar">
    <div class="logo">RoDX</div>
    <a href="index.html">Home</a>
    <a href="search.html">Search</a>
    <a href="login.html">Login</a>
    <a href="about.html">About</a>
  </div>
  <div class="content-container">
    <div class="content_about">
      <h1>Romanian Drug Explorer</h1>
      <p>RoDX este un instrument Web de analiza si vizualizare la consumul de droguri in ultimii
        3 ani, in corelatie cu infractiunile si confiscarile efectuate, plus urgentele medicale si campaniile de prevenire a consului de stupefiante.
      </p>
      <p>Datele statistice cu privire la situatia drogurilor in Romania au fost preluate de pe site-ul <a href="https://data.gov.ro/organization/agentia-nationala-antidrog">data.gov.ro</a>.</p>
  </div>
</div>
    <div class="bubbles">
      <span style="--i:11"></span>
      <span style="--i:15"></span>
      <span style="--i:23"></span>
      <span style="--i:18"></span>
      <span style="--i:25"></span>
      <span style="--i:12"></span>
      <span style="--i:17"></span>
      <span style="--i:19"></span>
      <span style="--i:28"></span>
      <span style="--i:21"></span>
      <span style="--i:15"></span>
      <span style="--i:14"></span>
      <span style="--i:28"></span>
      <span style="--i:13"></span>
      <span style="--i:24"></span>
      <span style="--i:26"></span>
      <span style="--i:27"></span>
      <span style="--i:20"></span>
      <span style="--i:22"></span>
      <span style="--i:11"></span>
      <span style="--i:15"></span>
      <span style="--i:23"></span>
      <span style="--i:18"></span>
      <span style="--i:25"></span>
      <span style="--i:12"></span>
      <span style="--i:17"></span>
      <span style="--i:19"></span>
      <span style="--i:28"></span>
      <span style="--i:21"></span>
      <span style="--i:15"></span>
      <span style="--i:14"></span>
      <span style="--i:28"></span>
      <span style="--i:13"></span>
      <span style="--i:24"></span>
      <span style="--i:26"></span>
      <span style="--i:27"></span>
      <span style="--i:20"></span>
      <span style="--i:22"></span>

    </div>

</body>
</html>