<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
  <div class="taskbar">
    <div class="logo">RoDX</div>
    <a href="index.html">Home</a>
    <a href="search.html">Search</a>
    <a href="login.html">Login</a>
    <a href="about.html">About</a>
  </div>
  <div class="content">
    <h1> Selectati filtrele dorite si apasati "Search" pentru a genera harta</h1>
  <div class="filters">
    <div class="sectiune">
    <label class="bar_text" for="bar_an">Alegeti anul</label> 
    <select class="bar" name="optiune_an" id="bar_an"> 
        <option value="2021">2020</option> 
        <option value="2022">2021</option> 
        <option value="2023">2021</option> 
    </select>
    </div>
    <div class="sectiune">
    <label class="bar_text" for="bar_vizualizare">Alegeti ce doriti sa vizualizati</label> 
    <select class="bar" name="optiune_vizualizare" id="bar_vizualizare"> 
        <option value="Infractiuni">Infractiuni</option> 
        <option value="Capturi droguri">Capturi droguri</option> 
        <option value="Urgente medicale">Urgente medicale</option> 
        <option value="Campanii de prevenire">Campanii de prevenire</option> 
    </select>
    </div>
    <button class="button_search">
      Search
    </button>
    </div>
 
  </div>
  </div>

</body>
</html>